#music__box {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 80%;
    height:90%;
    margin: 0 auto;
    padding: 20px;
}

.flex { 
    display: flex;
    align-items: center;
}

#video__box {
    box-sizing: border-box;
    border-radius:20px;
    padding: 10px;
    height: 75%;
}

#music__box h3 {
    margin-top: 30px;
}

iframe {
    border-radius: 10px;
}

#play__box {
    border-radius:15px;
    box-sizing: border-box;
    display:flex;
    justify-content:space-between;
}

#play__box button {
    margin: 10px;
    padding: 5px 10px;
}