body {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e0e0e0;
}

.parent {
display: grid;
grid-template-columns: 0.8fr 1fr 0.8fr repeat(2, 0);
grid-template-rows: 0.8fr repeat(2, 1.2fr) repeat(2, 1.5fr) 0.8fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 90%;
height: 100%;
margin: 0 auto;
}





.nav { grid-area: 1 / 1 / 2 / 4;  }
.div2 { grid-area: 2 / 1 / 4 / 2; }
.div3 { grid-area: 4 / 1 / 6 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 2 / 6 / 3; }
.div6 { grid-area: 2 / 3 / 6 / 4; }
.footer { grid-area: 6 / 1 / 7 / 4; }


.box {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
}

.down__box {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 14px #bebebe, inset -7px -7px 14px #ffffff;
}

.btn {
    border: none;
    border-radius: 30px;
    background: linear-gradient(145deg, #b4a8d4, #d6c8fd);
    box-shadow: 8px 8px 16px #8c83a5, -8px -8px 16px #fff3ff;
    color: white;
    font-weight: 700;
}

.btn:hover {
    border-radius: 30px;
    background: #c8bbec;
    box-shadow: inset 5px 5px 19px #8c83a5, inset -5px -5px 19px #fff3ff;
    cursor: pointer;
}




/* first_window */
.modal_overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(17px);
  }

  .hidden {
    display: none;
    transition: display 0.3s ease-in-out;
}
  



/* nav__box */
.flex__container {
    box-sizing: border-box;
    display: flex;
    
    justify-content: space-around; 
    align-items: center;    

    /* background-color: #bbdefb; */
    /* height: 100%; */
    padding: 15px 0;
    gap: 5px;
}

.navbar { 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px; 
    width: 100%;
    margin: 0 10px;
}


/* weather__box */
#before__weather {
    font-size: 20px;
}

#weather {
    /* display: inline; */
    /* justify-content: flex-start; */
    text-align: center;
    width: 210px;
    padding: 10px;
    color: rgb(88, 88, 88);
}

#weather:hover {
    color: #f8f8f8;
    text-shadow: 0 0 1vw #989899;
}

/* title__box */
.title__box { 
    box-sizing: border-box;
    padding: 0 70px;
    text-align:center;
}

.title__box h1 {
    font-size: 30px;
    justify-content:center;
    color: rgb(77, 76, 76);
    margin: 20px 0;
}

/* btn__box */
.btn__box {
display: flex;
padding: 0;
justify-content: space-around;
width: 230px;
}

#changeColorsBtn {
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    color: rgb(77, 76, 76);
    /* margin-right: 10px; */
}

#logoutBtn {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(77, 76, 76);
}



/* main - left box */



.main_flex {
    display: flex;
    align-items: center;
}


/* img__box */
#img__box {
    box-sizing: border-box;
    height:90%;
    width: 95%;
    margin: 0 auto;
}

#img__box img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 40px;
}

/* clock__box */

.clock__outer { 
    padding: 10px 0 0;
}

#clock__box {
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    color: rgb(62, 63, 65);
    justify-content: center;
    
}

#clock {
    color: rgb(62, 63, 65);
    font-size: 40px;
}

#clock__box h2,
h3 {
margin: 0 auto;
color: #585858;
}


.footer__flex { 
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
}
#quote__box {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    color: #585858;
    padding: 10px;
    /* margin-top: 10px; */
}

#quote__box span {
display: flex;
align-items: center;
justify-content: center;
}

#quote__box span:last-child {
color: #272727;
}

